<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Stats</title>
</head>
<body>
    <h2>Player Stats</h2>
    <p>Your name is <strong>{{ name }}</strong>.</p>
    <p>Your Duel rating is <strong>{{ rating }}</strong>.</p>
    <p>Your games count in Duel rating is <strong>{{ games_count }}</strong>.</p>
    <p>Your profile level is <strong>{{ player_lvl }}</strong>.</p>
    <p>Your profile exp is <strong>{{ player_exp }}</strong>.</p>
</body>
</html>
